.env
.env.local
.DS_Store
.private/

backend/.coverage
backend/.mypy_cache/
backend/.pytest_cache/
backend/.ruff_cache/
backend/.venv/
backend/htmlcov/
backend/**/*.pyc
backend/**/__pycache__/

frontend/.next/
frontend/node_modules/
frontend/out/
frontend/tsconfig.tsbuildinfo
frontend/next-env.d.ts
backend/build/
backend/dist/
backend/**/*.egg-info/